.infolist :nth-of-type(4) a{
    background-color: #887a69;
}

main img{
    width: 30px;
    height: 30px;
}

#fun{
    width: 484px;
    position: absolute;
    top: 50px;
    left: 150px;
}

#fun >*{
    width: calc(100% - 60px);
    margin-top: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

#fun input{
    width: 180px;
    padding: 8px;
    border-radius: 10px;
    position: relative;
    font-size: 20px;
    left: 30px;
    border: none;
}

.date{
    background-color: #3F3F3F;
    height: 30px;
    padding: 20px 30px;
    border-radius: 10px;
}

.date, .feeling div{
    display: flex;
    align-items: center;
}

.feeling{
    background-color: #887A69;
    height: 110px;
    padding: 5px 30px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

#music{
    background-color: #3F3F3F;
    height: 365px;
    padding: 5px 30px;
    border-radius: 10px;
    position: relative;
}

.music{
    width: 260.48px;
    height: 183.94px;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 50px;
}

.white {
    background-color: #ffffff;
}

.brown {
    background-color: #887A69;
    transform: rotate(-12deg);
}

#song{
    position: absolute;
    bottom: 90px;
    left: 60px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
}

#singer{
    position: absolute;
    bottom: 30px;
    left: 60px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
}

#diary{
    background-color: #F7F0DD;
    max-width: 520px;
    height: 570px;
    padding: 20px 15px;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    right: 140px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

#title, #content{
    background-color: #FEFBEB;
    color: #3F3F3F;
    width: calc(100% - 60px);
    padding: 0 30px;
    border-radius: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6) inset;
}

#title:focus, #content:focus{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6) inset;
}

#title{
    height: 70px;
}

#content{
    height: 370px;
    margin-top: 20px;
    padding-top: 30px;
}

button[type = "submit"]{
    background-color: #71604A;
    color: #ffffff;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
    font-size: 26px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 30px;
    cursor: pointer;
}

.ok img{
    width: 30px;
}

@media screen and (max-width:1330px) {
    
}
@media screen and (max-width:1269px) {
    
}
@media screen and (max-width:856px) {
    
}
@media screen and (max-width:712px) {
    
}
@media screen and (max-width:500px) {
    
}