.date{
    background-color: #3F3F3F;
    height: 70px;
    margin-top: 105px;
    margin-left: 60px;
    border-radius: 10px;
    width: 384px;
}
.diaryTag{
    display: flex;
    align-items: center;
    justify-content: start;
}
.diaryTag img{
    width: 25px;
    margin-left: 30px;
}
.diaryTag input[type="date"]{
    width: 177.82px;
    margin-left: 30px;
    padding: 8px;
    border-radius: 10px;
}
.feeling{
    background-color: #887A69;
    height: 140px;
    margin-top: 15px;
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 384px;
}
.diaryTag input[type="text"]{
    width: 177.82px;
    margin-left: 30px;
    padding: 8px;
    border-radius: 10px;
}
.music{
    position: relative;
    background-color: #3F3F3F;
    height: 478.58px;
    width: 384px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 60px;
    margin-bottom: 15px;
}
.music-white {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 260.48px;
    height: 183.94px;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 1;
}

.music-brown {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 260.48px;
    height: 183.94px;
    background-color: #887A69;
    transform: rotate(-11.64deg);
    border-radius: 10px;
}
.music img{
    width: 30px;
    margin-right: 20px;
}
.song{
    position: absolute;
    top: 300px;
    left: 60px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
}
.singer{
    position: absolute;
    top: 380px;
    left: 60px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
}
.diary{
    position: absolute;
    width: 609px;
    height: 686px;
    background-color: #F7F0DD;
    top: 109px;
    left: 619px;
    border-radius: 10px;
}
.diary-title input[type="text"]{
    width: 537px;
    height: 70px;
    color: #3F3F3F;
    background-color: #FEFBEB;
    padding-left: 30px;
    font-size: 26px;
    display: flex;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 10px;
}
.diary-content textarea{
    width: 537px;
    height: 439px;
    color: #3F3F3F;
    background-color: #FEFBEB;
    padding-left: 30px;
    font-size: 26px;
    display: flex;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 30px;
}
.ok{
    position: absolute;
    background-color: #71604A;
    font-size: 26px;
    color: #ffffff;
    right: 30px;
    width: 165px;
    height: 49.81px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ok img{
    width: 43px;
    margin-right: 20px;
}
@media screen and (max-width:1330px) {
    
}
@media screen and (max-width:1269px) {
    
}
@media screen and (max-width:856px) {
    
}
@media screen and (max-width:712px) {
    
}
@media screen and (max-width:500px) {
    
}