.rightside{
    height: auto;
}

#wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar{
    border-bottom: 1px solid #000000;
    padding-bottom: 30px;
}

.bar:last-of-type{
    border: none;
}

.intro{
    background-color: #D9D9D9;
    color: #000000;
    width: 1063px;
    height: 517px;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
    text-shadow: 5px 5px 5px #fff;
}

.a{
    background-image: url(../image/a-index-ps.png);
    background-size: 100% auto;
}

.b{
    background-image: url(../image/b-index-ps.png);
    background-size: 100% auto;
}

.c{
    background-image: url(../image/c-index-ps.png);
    background-size: 100% auto;
}

.d{
    background-image: url(../image/d-index-ps.png);
    background-size: 100% auto;
}

.a-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 100px;
    font-size: 25px;
}

.a-content p{
    width: 400px;
    height: 100px;
    border-radius: 10px;
    margin-top: 35px;
    text-align: start;
}

.b-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.b-picture{
    background-color: #B9B7B7;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.b-left{
    margin-top: 30px;
    background-image: url(../image/b-1.jpg);
    background-size: 100% auto;
}

.b-center{
    font-size: 25px;
    margin-top: 50px;
}

.b-right{
    margin-top: 250px;
    background-image: url(../image/b-2.jpg);
    background-size: 100% auto;
}

.b-center p{
    width: 400px;
    height: 100px;
    margin-top: 35px;
}

.c-content{
    font-size: 25px;
    display: flex;
    justify-content: space-around;
}

.c-left{
    background-color:#B9B7B7;
    background-image: url(../image/c-1.jpg);
    background-size: 100% auto;
    width: 450px;
    height: 450px;
    margin-top: 35px;
    border-radius: 10px;
}

.c-text{
    margin-top: 105px;
}

.c-text p{
    border-radius: 10px;
    width: 400px;
    height: 100px;
    margin-top: 35px;
}

.d-all{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.d-content{
    margin-top: 30px;
    font-size: 25px;
}

.d-content p{
    width: 600px;
    height: 100px;
    border-radius: 10px;
    margin-top: 35px;
}

.d-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
}

.d-img div{
    background-color: #B9B7B7;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-top: 35px;
}

.d-img :first-of-type{
    background-image: url(../image/d-1.jpg);
    background-size: 100% auto;
}

.d-img :nth-of-type(2){
    background-image: url(../image/d-2.jpg);
    background-size: 100% auto;
}

.d-right{
    background-color: #B9B7B7;
    width: 350px;
    height: 450px;
    border-radius: 10px;
    margin-top: 30px;
    background-image: url(../image/d-3.jpg);
    background-size: 100% auto;
}