*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f7f5f5;
    font-family: 'AnyConv.com__Iansui-Regular';
}
@font-face {
    font-family: 'AnyConv.com__Iansui-Regular';
    src: url(../font-size/AnyConv.com__Iansui-Regular.woff) format('woff');
}
input,button,textarea {
    border: none;
}
ul{
    list-style: none;
}
.wrap{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.left{
    background-color: #555555;
    width: 224px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}
.left hr{
    width: 168px;
}
.logo img{
    margin-top: 20px;
    width: 178px;
}
.head-circular{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    margin: 10px 10px;
}
.head-circular p{
    font-size: 18px;
}

.head-circular:hover{
    background-color: #887A69;
    border-radius: 10px;
}
.head-circular img{
    width: 86px;
    margin: 20px auto;
}
.nav{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
}
.nav-link{
    margin-top: 20px;
    border-radius: 10px;
}
.nav-link a{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 166px;
    height: 52px;
   text-decoration: none;
    justify-content:space-evenly;
    align-items: center;
    color: #ffffff;
}
.nav-link:hover{
    background-color: #887A69;
}
.nav-link img{
    width: 30px;
    height: 30px;
}
.nav-link p{
    font-size: 20px;
}
.right{
    width: 100%;
}
.main{
    position: relative;
}
.head{
    background-color: #3F3F3F;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 2;
}
/* 搜尋欄 */
.search input[type="text"]{
    font-size: 24px;
    background-color: #555555;
    height: 47.26px;
    width: 322.39px;
    margin-left: 50px;
    border-radius: 10px;
    color: #ffffff;
}
.search input[type="text"]::placeholder{
    color: #FEFBEB;
    padding-left: 30px;
}
.logout{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 146px;
    height: 42px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-right: 30px;
}
.logout:hover{
    background-color: #887A69;
}
.logout img{
    width: 30px;
}
.logout p{
    color: #ffffff;
    font-size: 16px;
}
